{% load i18n %}
{% load prices_i18n %}
{% load get_sort_by_toggle from shop %}
{% load status %}

<div class="data-table-container">
  <table class="bordered highlight responsive data-table last-right-align">
    <thead>
      <tr>
        {% get_sort_by_toggle 'pk' as toggle %}
        <th class="wide {% if toggle.is_active %}active{% endif %}">
          <a href="{{ toggle.url }}">
            <svg data-src="{{ toggle.sorting_icon }}" />
            #
          </a>
        </th>
        {% get_sort_by_toggle 'email' as toggle %}
        <th class="wide {% if toggle.is_active %}active{% endif %}">
          <a href="{{ toggle.url }}">
            <svg data-src="{{ toggle.sorting_icon }}" />
            {% trans "Customer" context "Orders table header" %}
          </a>
        </th>
        {% get_sort_by_toggle 'created' as toggle %}
        <th class="wide {% if toggle.is_active %}active{% endif %}">
          <a href="{{ toggle.url }}">
            <svg data-src="{{ toggle.sorting_icon }}" />
            {% trans "Placed on" context "Orders table header" %}
          </a>
        </th>
        {% get_sort_by_toggle 'status' as toggle %}
        <th class="wide {% if toggle.is_active %}active{% endif %}">
          <a href="{{ toggle.url }}">
            <svg data-src="{{ toggle.sorting_icon }}" />
            {% trans "Order status" context "Orders table header" %}
          </a>
        </th>
        {% get_sort_by_toggle 'payment_status' as toggle %}
        <th class="wide {% if toggle.is_active %}active{% endif %}">
          <a href="{{ toggle.url }}">
            <svg data-src="{{ toggle.sorting_icon }}" />
            {% trans "Payment status" context "Orders table header" %}
          </a>
        </th>
        {% get_sort_by_toggle 'total' as toggle %}
        <th class="wide {% if toggle.is_active %}active{% endif %}">
          <a href="{{ toggle.url }}">
            <svg data-src="{{ toggle.sorting_icon }}" />
            {% trans "Total" context "Orders table header" %}
          </a>
        </th>
        <th class="wide {% if toggle.is_active %}active{% endif %}">
          <a href="{{ toggle.url }}">
            <svg data-src="{{ toggle.sorting_icon }}" />
            Order Number
          </a>
        </th>
        <th class="wide {% if toggle.is_active %}active{% endif %}">
          <a href="{{ toggle.url }}">
            <svg data-src="{{ toggle.sorting_icon }}" />
            Print Invoice
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr data-action-go="{% url 'dashboard:order-details' order_pk=order.pk %}">
          <td>
            #{{ order.id }}
          </td>
          {% trans "Guest" context "Anonymous user account value" as guest %}
          <td>
            {{ order.user|default:guest }}
          </td>
          <td>
            {{ order.created }}
          </td>
          <td>
            {% render_status order.status order.get_status_display %}
          </td>
          <td>
            {% render_status order.get_last_payment_status order.get_last_payment_status_display %}
          </td>
          <td class="right-align">
            {% gross order.get_total html=True %}
          </td>
          <td>
            <p>{{order.order_number}}</p>
          </td>
          <td>
            <p><a href="/dashboard/orders/{{order.id}}/invoice/">Print invoice</a></p>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
