{% extends "base.html" %}
{% load gross from prices_i18n %}
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load get_thumbnail from product_images %}

{% block title %}Shopping Cart{% endblock %}


{% block content %}

<div id="content" class="site-content" tabindex="-1" >
  <div class="col-full">
    <div class="pizzaro-breadcrumb">
      <nav class="woocommerce-breadcrumb" >
        <a href="{% url "home" %}">Home</a>
        <span class="delimiter"><i class="po po-arrow-right-slider"></i></span>Shopping Cart
      </nav>
    </div>
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        {% if cart_lines %}
        <div class="pizzaro-order-steps hidden-xs">
          <ul>
            <li class="cart">
              <span class="step" style="background-color:#c00a27;">1</span>Shopping Cart
            </li>
            <li class="checkout">
              <span class="step">2</span>Checkout
            </li>
            <li class="complete">
              <span class="step">3</span>Order Complete
            </li>
          </ul>
        </div>
        {% endif %}
        <center>
          <div id="post-8" class="post-8 page type-page status-publish hentry">
            <div class="entry-content">
              <div class="woocommerce">
                {% if not cart_lines %}
                <div class="cart__empty">
                  <img src="{% static 'images/empty_bag.gif' %}" style="max-width:500px;" />
                  <h2>{% trans "There are no products in your shopping cart." context "Empty cart message" %}</h2>
                </div>
                {% else %}
                <table class="shop_table shop_table_responsive cart" >
                  <thead>
                    <tr>
                      <!-- <th class="product-remove">&nbsp;</th> -->
                      <th class="product-thumbnail">&nbsp;</th>
                      <th class="product-name">Product</th>
                      <th class="product-quantity">Quantity</th>
                      <th class="product-subtotal">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for line in cart_lines %}
                    <tr class="cart__line{% if forloop.last %} last{% endif %} table__row cart_item">
                      <div class="cart__line__product">
                        <td class="product-thumbnail">
                          <a href="{{line.variant.product.get_absolute_url}}">
                            <img width="180" height="180" src="{{line.variant.product.get_first_image.url}}" alt=""/>
                          </a>
                        </td>
                        <td class="product-name" data-title="Product">
                          <a href="{{line.variant.product.get_absolute_url}}">{{line.variant.product.name}}</a>
                          <dl class="variation">
                            <dd class="variation-Baseprice">
                              <p><span class="woocommerce-Price-amount amount">{{line.variant}}</span></p>
                            </dd>
                          </dl>
                        </td>
                      </div>
                    <td class="table__row product-quantity" data-title="Quantity">
                      <div class="cart__line__quantity">
                        <label>Quantity</label>
                          <form role="form" action="{% url "cart:update-line" variant_id=line.variant.pk %}" method="post" class="form-cart">
                            <span class="cart-item-delete">
                              <img src="{% static "images/delete.svg" %}" height="20px" width="20px" />
                            </span>
                            <div class="{% if form.quantity.errors %} has-error{% endif %}" tabindex="-1" style="margin-top:-27px; margin-left:25px;">
                              {{line.form.quantity}}
                            </div>
                            {% csrf_token %}
                          </form>
                          <small class="cart__line__quantity-error text-danger"></small>
                        </div>
                    </td>
                    <td>
                      <div class="cart-item-price" data-product-id="{{line.variant.pk}}">
                        {% gross line.get_total html=True %}
                      </div>
                    </td>
                </tr>
                {% endfor %}
                <div class="cart__subtotal" style="display:none;">
                </div>
                <tr>
                  <td colspan="6" class="actions">
                    <div class="wc-proceed-to-checkout">
                      <a href="{{category.get_absolute_url}}" class="checkout-button button alt wc-forward">Continue Shopping</a>
                      <a href="{% url "checkout:login" %}" class="checkout-button button alt wc-forward">Proceed to Checkout</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </center>
  </main>
</div>
</div>
</div>

{% endblock content %}



{% comment %}

<div id="content" class="site-content" tabindex="-1" >
  <div class="col-full">
    <div class="pizzaro-breadcrumb">

    </div>
    <center>
      <!-- .woocommerce-breadcrumb -->
      <div id="primary" class="content-area">
        <main id="main" class="site-main" >
          {% if cart_lines %}
          <div class="table__header d-none d-md-block">
            <div class="row">
              <div class="col-md-7">
                <small>{% trans "Product" context "Cart table header" %}</small>
              </div>
              <div class="col-md-3">
                <small>{% trans "Quantity" context "Cart table header" %}</small>
              </div>
              <div class="col-md-2 text-right">
                <small>{% trans "Price" context "Cart table header" %}</small>
              </div>
            </div>
          </div>
          {% for line in cart_lines %}
          <div class="cart__line{% if forloop.last %} last{% endif %} table__row">
            <div class="row">
              <div class="col-7 cart__line__product">
                <a class="link--clean" href="{{ line.variant.get_absolute_url }}">
                  <img src="{% get_thumbnail line.variant.product.images.first.image method="crop" size="60x60" %}"
                  srcset="{% get_thumbnail line.variant.product.images.first.image method="crop" size="60x60" %} 1x, {% get_thumbnail line.variant.product.images.first.image method="crop" size="120x120" %} 2x"
                  alt="">
                  <p>{{ line.variant.product }}
                    <br><small>{{ line.variant }}</small></p>
                  </a>
                </div>
                <div class="col-5">
                  <div class="row">
                    <div class="cart__line__quantity col-md-7 col-12">
                      <form role="form" action="{% url "cart:update-line" variant_id=line.variant.pk %}" method="post" class="form-cart">
                        <div class="{% if form.quantity.errors %} has-error{% endif %}" tabindex="-1">
                          {{ line.form.quantity }}
                        </div>
                        {% csrf_token %}
                      </form>
                      <span class="cart-item-delete">
                        <svg data-src="{% static "images/delete.svg" %}" height="20px" width="20px" />
                      </span>
                      <small class="cart__line__quantity-error text-danger"></small>
                    </div>
                    <div class="cart-item-price col-md-5 col-12" data-product-id="{{ line.variant.pk }}">
                      <p class="text-right">{% gross line.get_total html=True %}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="cart__subtotal">
              {% include 'cart/_subtotal_table.html' %}
            </div>
            <div class="row">
              <div class="col-md-12">
                <a href="{% url "checkout:login" %}" class="btn primary float-right cart__submit">
                  {% trans "Checkout" context "Cart primary action" %}
                </a>
              </div>
            </div>
            {% else %}
            <div class="cart__empty">
              <img src="{% static 'images/pirate_cart.png' %}"
              srcset="{% static 'images/pirate_cart.png' %} 1x, {% static 'images/pirate_cart2x.png' %} 2x">
              <h2>{% trans "There are no products in your shopping cart." context "Empty cart message" %}</h2>
            </div>
            {% endif %}
          </main><!-- #main -->
        </div>
      </center>
      <!-- #post-## -->
    </div>
    <!-- #primary -->
  </div>

  {% endcomment %}

  {% block scripts %}
  <script type="text/javascript">
  $("#id_quantity").on("change", function(){
    setTimeout(function(){
      window.location.reload();
    },500)
  })
  </script>
  {% endblock scripts %}
