{% extends "account/password_reset_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Password Reset" context "Password reset done page title" %}{% endblock %}

{% block form %}
<div id="content" class="site-content" tabindex="-1" style="margin-left:400px;" >
  <div class="col-full">
    <div id="primary" class="content-area">
       <main id="main" class="site-main" >
         <div class="login__forgot-password">
           <h2>An email confirmation has been sent to your email</h2>
           {% if user.is_authenticated %}
             {% include "account/partials/already_logged_in.html" %}
           {% endif %}
           <p>{% blocktrans trimmed context "Password reset done text" %}
               We have sent you an e-mail with further instructions on how to reset your password.
               Please contact us if you do not receive it within a few minutes.
           {% endblocktrans %}</p>
         </div>
       </main>
     </div>
  </div>
</div>
{% endblock %}
