{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_form from bootstrap3 %}

{% block title %}{% trans "Password reset" context "Password reset page title" %} — {{ block.super }}{% endblock %}

{% block content %}
<div id="content" class="site-content" tabindex="-1" style="margin-left:400px;" >
  <div class="col-full">
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        <div class="row login__forgot-password">
          <div class="col-md-8 m-auto text-center">
            <form method="post" novalidate>
              {% csrf_token %}
              <h2>{% trans "Forgot your password?" context "Password reset form title" %}</h2>
              <p>{% blocktrans trimmed context "Password reset form help text" %}
                Please let us know the email you have used to register or purchase at our store.
                {% endblocktrans %}
              </p>
              <fieldset>
                {% bootstrap_form form %}
                <input type="hidden" name="next" value="{{ next }}"/>
              </fieldset>
              <div class="row login__btn-group">
                <div class="col-12">
                  <button class="btn primary narrow">
                    {% trans "Continue" context "Password reset primary action" %}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
{% endblock %}
