{% extends "base.html" %}
{% load bootstrap_pagination from bootstrap3 %}
{% load i18n %}
{% load shop %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load prices_i18n %}

{% block title %}{{ category }} — {{ block.super }}{% endblock %}

{% block content %}
    <div id="content" class="site-content hidden-sm hidden-xs" tabindex="-1" style="margin-top:15px;">
      <div class="col-full">
        <div class="pizzaro-breadcrumb">
           <nav class="woocommerce-breadcrumb" ><a href="{% url "home" %}">You are viewing products in </a><span class="delimiter"><i class="po po-arrow-right-slider"></i></span>{{category}}</nav>
        </div>
        <div id="primary" class="content-area">
           <main id="main" class="site-main" >
              <div class="row">
                {% if products %}
                {% for product, availability in products %}
                    <div class="col-md-6">
                      <a href="{{product.get_absolute_url}}">
                        <div class="card item" style="padding:5px;">
                          <img src="{{product.get_first_image.url}}" />
                          <div class="content">
                            <h4>{{product.name}}</h4>
                            <p>{{product.description}}</p>
                            <div>
                              <span class="price">Packaging Starts from: 500 grams</span>
                              <span class="weight">No. of pieces: 6-8</span>
                            </div>
                            <div class="addToCart">
                              <span class="price-second">Starts from ₹{{product.price.0}}</span>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
                 {% else %}
                  <p>No products in this category</p>
                 {% endif %}
              </div>
           </main>
           <!-- #main -->
        </div>
        <!-- #primary -->
        <div id="secondary" class="widget-area" role="complementary">
           <div id="nav_menu-2" class="widget widget_nav_menu">
              <div class="menu-food-menu-container">
                 <ul id="menu-food-menu-2" class="menu">
                   {% for each in categories %}
                    <li class="menu-item {% if each.id == category.id %}active{% endif %}"><a href="{% url "product:category" "category" each.id %}"><i class="po po-{{each.name|lower}}"></i>{{each.name}}</a></li>
                   {% endfor %}
                 </ul>
              </div>
           </div>
        </div>
      </div>
    </div>

    <div id="content" class="site-content hidden-md hidden-lg" tabindex="-1" style="margin-top:15px;">
      <div class="col-full">
        <div class="pizzaro-breadcrumb">
           <nav class="woocommerce-breadcrumb" ><a href="{% url "home" %}">You are viewing products in </a><span class="delimiter"><i class="po po-arrow-right-slider"></i></span>{{category}}</nav>
        </div>

        <div id="secondary" class="widget-area" role="complementary">
           <div id="nav_menu-2" class="widget widget_nav_menu">
              <div class="menu-food-menu-container">
                 <ul id="menu-food-menu-2" class="menu">
                   {% for each in categories %}
                    <li class="menu-item {% if each.id == category.id %}active{% endif %}"><a href="{% url "product:category" "category" each.id %}"><i class="po po-{{each.name|lower}}"></i>{{each.name}}</a></li>
                   {% endfor %}
                 </ul>
              </div>
           </div>
        </div>

        <div id="primary" class="content-area">
           <main id="main" class="site-main" >
              <div class="columns-4">
                {% if products %}
                 <ul class="products owl-carousel">
                   {% for product, availability in products %}
                    <li class="product item" style="min-height:450px; max-height:450px; width:400px;">
                         <div class="product-outer">
                            <div class="product-inner">
                               <div class="product-image-wrapper">
                                  <a href="{{product.get_absolute_url}}" class="woocommerce-LoopProduct-link">
                                    <img src="{{product.get_first_image.url}}" style="min-height:300px; max-height:300px;" class="img-responsive" alt="{{product.name}}">
                                  </a>
                               </div>
                               <div class="product-content-wrapper">
                                  <a href="{{product.get_absolute_url}}" class="woocommerce-LoopProduct-link">
                                     <h3>{{product}}</h3>
                                     <div class="description">
                                        <p style="max-height: none;">Starts at INR {{product.price.0}}<br />{{product.description}}</p>
                                     </div>
                                  </a>
                               </div>
                            </div>
                      </div>
                       <!-- /.product-outer -->
                    </li>
                    {% endfor %}
                 </ul>
                 {% else %}
                  <p>No products in this category</p>
                 {% endif %}
              </div>
           </main>
           <!-- #main -->
        </div>
        <!-- #primary -->

      </div>
    </div>



{% endblock content %}

{% block scripts %}
<script type="text/javascript">
$(".owl-carousel").owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
});
</script>
{% endblock scripts %}
