.widget_nav_menu .menu  .active{
  background-color: #c00a27;
  margin-bottom: 0px;
  border-bottom: none;
}
.widget_nav_menu .menu  .active a{
  color:white;
  border:none;
  font-weight:bold;
}
.widget_nav_menu .menu  .active i{
  font-weight: bold;
  color:white;
}

.custom-input{
  max-width:250px;
}
.custom-input2{
  max-width:250px;
}
.custom-email{
  max-width: 250px;
  margin-left:10px;
}
.custom-settings{
  margin-left: 25px;
}
.good-form{
  margin-left: 150px;
  border: 1px solid black;
  padding: 25px;
  margin-right:15px;
}
.good-order-detail{
  border: 1px solid black;
  padding: 40px;
}
.know-licious{
  border:1px solid black;
  padding-top: 40px;
  font-size: 20px;
  margin-bottom: 50px;
  text-align:center;
  border-radius: 25px;
}
.know-licious .border{
  border-right: 1px solid black;
}
.know-licious .header{
  color:#c00a27;
  background-color:white;
  display: block;
  z-index:1000;
  margin-top: -65px;
  max-width:450px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.featured-products{
  margin-top:25px;
}
.card{
    max-width:470px;
    height:100%;
    text-align:justify;
    border: 1px solid grey;
    border-radius: 10px;
    -webkit-box-shadow:1px 2px grey;
    -moz-box-shadow:1px 2px grey;
    box-shadow:1px 2px grey;
    margin-bottom: 10px;
}
.card img{
  width:410px;
  max-height: 410px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 2px;
}
.card .content{
  padding:10px;
  font-size: 12px;
  line-height: 14px;
}
.card .price{
  font-size: 14px;
}
.card .weight{
  float:right;
  font-size: 14px;
}
.category-card{
  font-size: 25px;
  text-align:center;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom:5px;
}
.category-card img{
  border-radius: 10px;
  width: 275px;
  height: 205px;
  -webkit-transition: width 2s;
  margin-left:auto;
  margin-right:auto;
}
.category-card .category-name{
  color: black;
  text-align:center;
}
.social-login-button{
  max-width:250px;
  margin-right: 5px;
  height:50px;
}
.orders-box{
  border: 1px solid black;
  padding: 30px;
}
.good-box{
  border: 1px solid black;
  padding-top: 35px;
  font-size: 20px;
  margin-bottom: 10px;
  width: 100%;
}
.order-summary-box{
  border: 1px solid black;
  padding: 20px;
}
.addToCart{
  margin-top:20px;
}
.addToCart .price-second{
  color:#c00a27;
  font-size:35px;
}
.addToCart .adc{
  margin-top:-30px;
  float:right;
}
