{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="no-js" data-shipping-options-url="{% url 'cart:shipping-options' %}" data-cart-summary-url="{% url 'cart:cart-summary' %}">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block title %}{% endblock title %} | FoodEZM</title>
      <link rel="stylesheet" type="text/css" href="{% static "new/css/bootstrap.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/font-awesome.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/animate.min.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/font-pizzaro.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/style.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/colors/red.css" %}" media="all" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/jquery.mCustomScrollbar.min.css" %}" media="all" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CYanone+Kaffeesatz:200,300,400,700" rel="stylesheet">
      <link rel="shortcut icon" href="{% static "new/images/fav-icon.png" %}">
      <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
      <link rel="stylesheet" type="text/css" href="{% static "new/css/custom.css" %}" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css" />
      <!-- <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
      <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" /> -->
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KJTVKG8');</script>
      <!-- End Google Tag Manager -->
   </head>

   {% if request.resolver_match.view_name == "home" %}
      <body class="page-template-template-homepage-v1 home-v1">
   {% elif request.resolver_match.view_name == "product:category" %}
      <body class="left-sidebar grid-view columns-3 archive woocommerce-page lite">
   {% else %}
      <body class="single-product style-1 woocommerce">
   {% endif %}
   <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJTVKG8"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
     <div id="page" class="hfeed site">
       {% include "header.html" %}
       {% include "modals.html" %}

       {% block content %}
       {% endblock content %}

       {% include "footer.html" %}

     </div>
     <script type="text/javascript" src="{% static "new/js/jquery.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/tether.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/bootstrap.min.js" %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
     <script type="text/javascript" src="{% static "new/js/social.share.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/jquery.mCustomScrollbar.concat.min.js" %}"></script>
     <script type="text/javascript" src="{% static "new/js/scripts.min.js" %}"></script>
     <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
     <script type="text/javascript" src="/jsi18n/"></script>
     {% render_bundle 'vendor' 'js' %}
     {% render_bundle 'storefront' 'js' %}
     <script type="text/javascript">
       $("#pincode-button").click(function(){
         var pincode = $("#pincode").val()
         $.ajax({
           url: "/mobile/pincheck/",
           type: "POST",
           data: "pincode="+pincode,
           success:function(result){
             if(result=="true"){
               $("#pin-message").html('<span style="color:green; text-align:center;">Yes! We are available in your pincode.</span>');
               setTimeout(function(){
                 $("#pinCheck").modal("hide");
               }, 2000)
             }
             else{
               $("#pin-message").html("<div style='color:red; text-align:center;'>Nopes, delivery is not available at the given pincode. We will let you know as soon as we are available in more areas.");
               setTimeout(function(){
                 $("#pinCheck").modal("hide");
               }, 2000)
             }
           }
         })
       })
       $("#pincode").keypress(function(e){
         var pincode = $("#pincode").val()
         if (e.which==13){
           $.ajax({
             url: "/mobile/pincheck/",
             type: "POST",
             data: "pincode="+pincode,
             success:function(result){
               if(result=="true"){
                 $("#pin-message").html('<span style="color:green; text-align:center;">Yes! We are available in your pincode.</span>');
                 setTimeout(function(){
                   $("#pinCheck").modal("hide");
                 }, 2000)
               }
               else{
                 $("#pin-message").html("<div style='color:red; text-align:center;'>Nopes, delivery is not available at the given pincode. We will let you know as soon as we are available in more areas.");
                 setTimeout(function(){
                   $("#pinCheck").modal("hide");
                 }, 2000)
               }
             }
           })
         }
       })
     </script>
     {% block scripts %}
     {% endblock scripts %}
   </body>
