{% load staticfiles %}
{% load gross from prices_i18n %}

<footer id="colophon" class="site-footer footer-v1">
   <div class="col-full">
      <div class="footer-social-icons">
         <span class="social-icon-text">Follow us</span>
         <ul class="social-icons list-unstyled">
            <li><a class="fa fa-facebook" href="#"></a></li>
            <li><a class="fa fa-twitter" href="#"></a></li>
            <li><a class="fa fa-instagram" href="#"></a></li>
            <li><a class="fa fa-youtube" href="#"></a></li>
            <li><a class="fa fa-dribbble" href="#"></a></li>
         </ul>
      </div>
      <div class="footer-logo">
         <a href="{% url "home" %}" class="custom-logo-link" rel="home">
               <img src="{% static "images/logo.png" %}" />
         </a>
      </div>
      <div class="site-address">
         <ul class="address">
            <li>FoodEZM Chicken and Raw Meat Delivery</li>
            <li>Currently delivering in Gurugram and North Delhi</li>
            <li>Telephone: +1 555 1234</li>
            <li>Email: hello@foodezm.com</li>
         </ul>
         <br /><hr />
      </div>
      <div class="discs" style="text-align:justify;">
        <p>
          <b>We will sell only the meat that we would eat ourselves.</b><br />
          At Foodezm, we’re big meat-lovers. And by big, we mean huge. So when it comes to the meat we put on your plate, we’re extremely picky. Every single product is handpicked by a team with years of experience.
          <br /><b>If it’s not fresh, we won’t sell it</b>
          <br />For meat to stay fresh and retain its natural juices, it needs to be stored at a temperature between 0° and 5°C. We maintain this temperature from the time we procure the product to cleaning, cutting and storing it, until it leaves for delivery. And even when it’s out for delivery, we keep it chilled right up to your doorstep.Did we mention that we’re obsessed?
          <br />
          <b>We will charge only for what you buy</b><br />
          Doesn’t everyone do this? Not really. Most other places first weigh the meat, then cut up the pieces, and throw out the parts which aren’t fit to eat, such as offal, gizzard, wingtips, etc. But you still pay based on the original weight even though what you finally get is 10% to 30% less
        </p>
      </div>
      <hr />
      <div class="site-info">
         <p class="copyright">Copyright &copy; 2017 FoodEZM. All rights reserved.</p>
         <p style="text-align:justify; font-size:10px; line-height:10px;">Foodezm is your one-stop fresh meat delivery shop. In here, you get nothing but the freshest meat & seafood, delivered straight to your doorstep. Now you can buy meat online anytime at your convenience. Indulge in our diverse selection: Chicken, Lamb, Seafood (Fish, Prawns, Crabs), Marinades & Cold Cuts. All our products are 100% Halal and completely natural and healthy. Once you've experienced Foodezm, you'll never go back to the old way of buying meat and seafood.
         </p>
      </div>

      <div class="pizzaro-handheld-footer-bar">
         <ul class="columns-3">
            <li class="my-account">
               <a href="{% url "account_login" %}">My Account</a>
            </li>
            <li class="search">
               <a href="#">Search</a>
               <div class="site-search">
                  <div class="widget woocommerce widget_product_search">
                     <form role="search" method="get" class="woocommerce-product-search" >
                        <label class="screen-reader-text" for="woocommerce-product-search-field">Search for:</label>
                        <input type="search" id="woocommerce-product-search-field" class="search-field" placeholder="Search Products&hellip;" value="" name="s" title="Search for:" />
                        <input type="submit" value="Search" />
                        <input type="hidden" name="post_type" value="product" />
                     </form>
                  </div>
               </div>
            </li>
            <li class="cart">
               <a class="footer-cart-contents" href="{% url "cart:index" %}" title="View your shopping cart">
                <span class="count">{{cart_counter}}</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <!-- .col-full -->
</footer>
<!-- #colophon -->
