{% load staticfiles %}
{% load i18n %}
{% load price_range from price_ranges %}
{% load gross from prices_i18n %}

<header id="masthead" class="site-header header-v1" style="background-image: none; ">
   <div class="col-full">
      <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
      <div class="header-wrap">
         <div class="site-branding">
            <a href="{% url "home" %}" class="custom-logo-link" rel="home">
                  <img src="{% static "new/logo.png" %}" />
            </a>
         </div>
         <nav id="site-navigation" class="main-navigation" aria-label="Primary Navigation">
            <button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false"><span class="close-icon"><i class="po po-close-delete"></i></span><span class="menu-icon"><i class="po po-menu-icon"></i></span><span class=" screen-reader-text">Menu</span></button>
            <div class="primary-navigation">
               <ul id="menu-main-menu" class="menu nav-menu" aria-expanded="false">
                  <!-- <li class="menu-item"><a href="#" data-toggle="modal" data-target="#pinCheck">Check Delivery Availability</a></li> -->
                  {% if request.user.is_authenticated %}
                    <li class="menu-item"><a href="{{category.get_absolute_url}}">Order Online</a></li>
                    <li class="menu-item"><a href="{% url "profile:details" %}">My Account</a></li>
                    <li class="menu-item"><a href="{% url "account_logout" %}">Logout</a></li>
                  {% else %}
                    <li class="menu-item"><a href="{{category.get_absolute_url}}">Order Online</a></li>
                    <li class="menu-item"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                    <li class="menu-item"><a href="#" data-toggle="modal" data-target="#signupModal">Signup</a></li>
                  {% endif %}
               </ul>
            </div>
            <div class="handheld-navigation">
               <span class="phm-close">Close</span>
               <ul class="menu">
                 <li class="menu-item"><a href="{{category.get_absolute_url}}"></a>Order Online</li>
                 <li class="menu-item"><a href="{% url "account_login" %}">Login</a></li>
                 <li class="menu-item"><a href="{% url "account_signup" %}">Register</a></li>
                 {% for each in categories %}
                   <li class="menu-item"><a href="{% url "product:category" "category" each.id %}"><i class="po po-{{each.name|lower}}"></i>{{each.name}}</a></li>
                 {% endfor %}
                 <li class="menu-item"><a>About Us</a></li>
                 <li class="menu-item"><a>Contact Us</a></li>
                 <li class="menu-item"><a>Terms of Use</a></li>
                 <li class="menu-item"><a>Privacy Policy</a></li>
                 <li class="menu-item"><a>Refund Policies</a></li>
               </ul>
            </div>
         </nav>
         <!-- #site-navigation -->
         <div class="header-info-wrapper">
            <!-- <div class="header-phone-numbers">
               <span class="intro-text" style="font-size:10px; color:white; text-align:center;">Enter pincode to check area feasibility</span>
               <input type="text" id="pincode" name="pincode" style="max-height:25px; max-width:150px;" />
               <a href="#" id="pincode-button"><span class="fa fa-search" style="color:white;" id="pincode-button"></span></a>
               <button id="pincode-button" style="max-height:25px;">Check</button>
            </div> -->
            <ul class="site-header-cart-v2 menu">
               <li class="cart-content">
                  <a href="#" data-toggle="modal" data-target="#pinCheck" title="Check pincode feasibility">
                  <i class="po po-scooter"></i>
                  <span>Check Pin-Code Feasibility</span>
                  </a>
               </li>
            </ul>
            <ul class="site-header-cart-v2 menu">
               <li class="cart-content ">
                  <a href="{% url "cart:index" %}" title="View your shopping cart">
                  <i class="po po-scooter"></i>
                  <span>Go to Your Cart</span>
                  </a>
                  <ul class="sub-menu">
                     <li>
                        <a href="{% url "cart:index" %}" title="View your shopping cart">
                            <span class="count">{{cart_counter}} items</span></span>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </div>
      {% comment %}
      <div class="pizzaro-secondary-navigation">
         <nav class="secondary-navigation" aria-label="Secondary Navigation">
            <ul class="menu">
              {% for each in categories %}
                <li class="menu-item"><a href="{% url "product:category" "category" each.id %}"><i class="po po-{{each.name|lower}}"></i>{{each.name}}</a></li>
              {% endfor %}
            </ul>
         </nav>
         <!-- #secondary-navigation -->
      </div>
      {% endcomment %}
   </div>
</header>
