{% load staticfiles %}
{% load i18n %}
{% load price_range from price_ranges %}
{% load gross from prices_i18n %}

<header id="masthead" class="site-header header-v4 "  style="background-image: none; ">
   <div class="col-full">
      <a class="skip-link screen-reader-text" href="#site-navigation">Skip to navigation</a>
      <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
      <div class="site-branding">
         <a href="{% url "home" %}" class="custom-logo-link" rel="home">
           <img src="{% static "images/logo.png" %}" />
         </a>
      </div>
      <nav id="site-navigation" class="main-navigation"  aria-label="Primary Navigation">
         <button class="menu-toggle" aria-controls="site-navigation" aria-expanded="false"><span class="close-icon"><i class="po po-close-delete"></i></span><span class="menu-icon"><i class="po po-menu-icon" style=""></i></span><span class="screen-reader-text">Menu</span></button>
         <div class="primary-navigation">
            <ul id="menu-home-5-and-7-main-menu" class="menu nav-menu" aria-expanded="false">
               <li class="menu-item"><a href="{% url "home" %}">Home</a></li>
               <li class="menu-item"><a href="{{category.get_absolute_url}}">Order Online</a></li>
               {% if request.user.is_authenticated %}
                 <li class="menu-item"><a href="{% url "profile:details" %}">My Recent Orders</a></li>
                 <li class="menu-item"><a href="{% url "account_logout" %}">Logout</a></li>
               {% else %}
                 <li class="menu-item"><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                 <li class="menu-item"><a href="#" data-toggle="modal" data-target="#signupModal">Signup</a></li>
               {% endif %}
               <!-- <li class="menu-item"><a href="#">Offers</a></li> -->
               <li class="menu-item"><a href="{% url "contact" %}">Contact</a></li>
            </ul>
         </div>
         <div class="handheld-navigation">
            <span class="phm-close">Close</span>
            <ul class="menu">
              <li class="menu-item"><a href="{{category.get_absolute_url}}">Order Online</a></li>
              <li class="menu-item"><a href="{% url "account_login" %}">Login</a></li>
              <li class="menu-item"><a href="{% url "account_signup" %}">Register</a></li>
              <li class="menu-item"><a>About Us</a></li>
              <li class="menu-item"><a>Contact Us</a></li>
              <li class="menu-item"><a>Terms of Use</a></li>
              <li class="menu-item"><a>Privacy Policy</a></li>
              <li class="menu-item"><a>Refund Policies</a></li>
            </ul>
         </div>
      </nav>

      <!-- #site-navigation -->
      <ul class="site-header-cart menu">
         <li class="mini-cart navbar__brand__cart">
            <div class="mini-cart">
               <a class="cart-contents" href="{% url "cart:index" %}" title="View your shopping cart"><span class="amount"><span class="price-label">Your Cart:</span></span><span class="count badge">{{cart_counter}}</span></a>
           </div>
           <div class="cart-dropdown d-none">
             {% include "cart-dropdown.html" %}
           </div>
         </li>
      </ul>
   </div>
</header>
