{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Home{% endblock title %}

{% block content %}

<div id="content" class="site-content" tabindex="-1" >
   <div class="col-full">
      <div id="primary" class="content-area">
         <main id="main" class="site-main">
            <div class="home-v1-slider">
               <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm" style="max-height:500px;">
                  <div class="item slider-1" style="background-image: url(../static/images/image1.jpg); max-height:500px;">
                  </div>
                  <div class="item slider-2" style="background-image: url(../static/images/image2.jpg); max-height:500px;">
                  </div>
                  <div class="item slider-3" style="background-image: url(../static/images/image3.jpg); max-height:500px;">
                  </div>
               </div>
               <!-- /.owl-carousel -->
            </div>
            <div class="know-licious hidden-xs hidden-sm">
              <div class="header">
                <h3 style="color:#c00a27;">FoodEZM's way</h3>
              </div>
              <div class="row">
                <div class="col-md-3 border">
                  <p>High Quality<br />Produce</p>
                </div>
                <div class="col-md-3 border">
                  <p>Certified Central <br /> Production Unit</p>
                </div>
                <div class="col-md-3 border">
                  <p>Multiple <br />Quality Checks</p>
                </div>
                <div class="col-md-3">
                  <p>Fresh Produce<br />Delivery</p>
                </div>
              </div>
            </div>
            <div class="tiles">
               <div class="row">
                  <div class="col-xs-12 col-sm-3 col-md-4">
                     <div class="banner top-left" >
                        <a href="#">
                           <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url(../static/images/paytm.jpg); height: 450px;">
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-md-4">
                     <div class="banner top-left" >
                        <a href="#">
                           <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url(../static/images/45minexpress.png); height: 450px;">
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-3 col-md-4">
                     <div class="banner top-left" >
                        <a href="#">
                           <div class="banner-bg" style="background-size: cover; background-position: center center; background-image: url(../static/images/discounts.jpg); height: 450px;">
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <div class="featured-products">
              <div class="header">
                <h2 style="color:#c00a27;">Featured Products</h2>
              </div>
              <div id="owl-featured1" class="owl-carousel">
                {% for each in featured %}
                <div class="card item">
                  <img src="{{each.get_first_image.url}}" />
                  <div class="content">
                    <h4>{{each.product.name}}</h4>
                    <p>{{each.product.description}}</p>
                    <div>
                      <span class="price">Net Weight: {{each.name}}</span>
                      <span class="weight">No. of pieces: 3-5</span>
                    </div>
                    <div class="addToCart">
                      <span class="price-second">₹{% if each.price_override %}{{each.price_override}}{% else %}{{each.product.price.0}}{% endif %}</span>
                      <form action="{% url 'product:add-to-cart' product_id=each.product.pk slug=each.product.get_slug %}" method="post">
                        <input type="hidden" name="quantity" id="quantity=1" value="1" />
                        <input type="hidden" name="variant" id="id_variant" value="{{each.pk}}" />
                        {% csrf_token %}
                        <span class="adc"><button class="btn btn-sml">Add to cart</button></span>
                      </form>
                    </div>
                  </div>
                </div>
                {% endfor %}
                </div>
              </div>
            </div>

            <div class="featured-products">
              <div class="header">
                <h2 style="color:#c00a27;">FoodEZM's Exclusive</h2>
              </div>
              <div id="owl-featured" class="owl-carousel">
                {% for each in exclusive_products %}
                  <div class="card item">
                    <img src="{{each.get_first_image.url}}" />
                    <div class="content">
                      <h4>{{each.product.name}}</h4>
                      <p>{{each.product.description}}</p>
                      <div>
                        <span class="price">Net Weight: {{each.name}}</span>
                        <span class="weight">No. of pieces: 3-5</span>
                      </div>
                      <div class="addToCart">
                        <span class="price-second">₹{% if each.price_override %}{{each.price_override}}{% else %}{{each.product.price.0}}{% endif %}</span>
                        <form action="{% url 'product:add-to-cart' product_id=each.product.pk slug=each.product.get_slug %}" method="post">
                          <input type="hidden" name="quantity" id="quantity=1" value="1" />
                          <input type="hidden" name="variant" id="id_variant" value="{{each.pk}}" />
                          {% csrf_token %}
                          <span class="adc"><button class="btn btn-sml">Add to cart</button></span>
                        </form>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>

            <div class="category-menu featured-products">
              <div class="header">
                <h3 style="color:#c00a27;">Explore by categories</h3>
                  <div id="owl-featured2" class="owl-carousel owl-theme">
                  {% for each in categories %}
                  <div class="item category-card">
                    <a href="{{each.get_absolute_url}}">
                      <img src="{% static "images/seafood.jpg" %}" class="img-responsive" />
                      <span class="category-name">{{each.name}}</span>
                    </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="category-menu featured-products">
              <div class="header">
                <h3 style="color:#c00a27;">Latest Blogs</h3>
                  <div id="owl-featured2" class="owl-carousel owl-theme">
                  {% for each in blogs %}
                  <div class="item category-card">
                    <a href="#">
                      <img src="{% static "images/seafood.jpg" %}" class="img-responsive" />
                      <span class="category-name">{{each.title}}</span>
                    </a>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="features-list" >
               <div class="row">
                  <div class="feature col-xs-12 col-sm-3">
                     <div class="feature-icon"><i class="po po-best-quality"></i></div>
                     <div class="feature-label">
                        <h4>Best Quality</h4>
                        <p>Praesent pulvinar neque pellentesque mattis pretium.</p>
                     </div>
                  </div>
                  <div class="feature col-xs-12 col-sm-3">
                     <div class="feature-icon"><i class="po po-on-time"></i></div>
                     <div class="feature-label">
                        <h4>On Time</h4>
                        <p>Praesent pulvinar neque pellentesque mattis pretium.</p>
                     </div>
                  </div>
                  <div class="feature col-xs-12 col-sm-3">
                     <div class="feature-icon"><i class="po po-master-chef"></i></div>
                     <div class="feature-label">
                        <h4>MasterChefs</h4>
                        <p>Praesent pulvinar neque pellentesque mattis pretium.</p>
                     </div>
                  </div>
                  <div class="feature col-xs-12 col-sm-3">
                     <div class="feature-icon"><i class="po po-ready-delivery"></i></div>
                     <div class="feature-label">
                        <h4>Tasty</h4>
                        <p>Praesent pulvinar neque pellentesque mattis pretium.</p>
                     </div>
                  </div>
               </div>
            </div>
         </main>
         <!-- #main -->
      </div>
      <!-- #primary -->
   </div>
   <!-- .col-full -->
</div>

{% endblock content %}


{% block scripts %}
<script type="text/javascript">
$(window).on("load", function(){
  $("#pinCheck").modal({backdrop:'static', keyboard:false});
});

$("#owl-featured").owlCarousel({
  loop: true,
  margin: 10,
  nav: true,
  navText:[
    "<i class='icon-chevron-left icon-white'><</i>",
    "<i class='icon-chevron-right icon-white'>></i>"
  ],
  responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
});
//
$("#owl-featured1").owlCarousel({
  loop: true,
  margin: 10,
  nav: true,
  navText:[
    "<i class='icon-chevron-left icon-white'><</i>",
    "<i class='icon-chevron-right icon-white'>></i>"
  ],
  responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
});
//
$("#owl-featured2").owlCarousel({
  loop: true,
  margin: 10,
  nav: true,
  navText:[
    "<i class='icon-chevron-left icon-white'><</i>",
    "<i class='icon-chevron-right icon-white'>></i>"
  ],
  responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
});
</script>

{% endblock scripts %}
