{% load staticfiles %}

<!-- Login Modal -->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" style="color:white;">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:#C23636;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 style="color:white;">Login</h2>
      </div>
      <div class="modal-body">
        <form class="login" method="post" action="{% url "account_login" %}">
           <!-- <p class="before-login-text">Welcome back! Sign in to your account</p> -->
           <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
              <label for="username">Email address<span class="required">*</span></label>
              <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" value="" />
           </p>
           <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
              <label for="password">Password <span class="required">*</span></label>
              <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" />
           </p>
           <p class="form-row">
              <input type="submit" class="woocommerce-Button button" name="login" value="Login" />
           </p>
           <p class="woocommerce-LostPassword lost_password">
              <a href="{% url "account_reset_password" %}" style="color:white;">Lost your password?</a>
           </p>
           <p class="social-media-buttons">
             <a href="#" style="float:left;"><img src="{% static "new/images/fb.png" %}" class="social-login-button" /></a>
             <a href="#"><img src="{% static "new/images/google.png" %}" class="social-login-button" /></a>
           </p>
           {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Signup Modal -->
<div class="modal" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" style="color:white;">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:#C23636;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 style="color:white;">Create an account with FoodEZM</h2>
      </div>
      <div class="modal-body">
        <form  class="login" method="post" action="{% url "account_signup" %}">
           <p class="before-login-text">Register yourself at foodezm.com, either by email or Facebook or Google Login. Use FIRSTIMER and get 20% discount on your first order after signup.</p>
           <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
              <label for="username">Email address<span class="required">*</span></label>
              <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="email" id="email" value="" />
           </p>
           <p class="woocommerce-FormRow woocommerce-FormRow--wide form-row form-row-wide">
              <label for="password">Password <span class="required">*</span></label>
              <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" />
           </p>
           <p class="form-row">
              <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="02aaeb6b10" />
              <input type="submit" class="woocommerce-Button button" name="signup" value="Create an account" />
              <p style="font-size:12px;"><a href="#" style="color:white;">By clicking on "Create an account", you agree to our Terms &amp; Conditions and Privacy Policy</a></p>
           </p>
           <p class="social-media-buttons">
             <a href="#" style="float:left;"><img src="{% static "new/images/fb.png" %}" class="social-login-button" /></a>
             <a href="#"><img src="{% static "new/images/google.png" %}" class="social-login-button" /></a>
           </p>
           {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Pincode verification modal -->
<div class="modal" id="pinCheck" tabindex="-1" role="dialog" aria-labelledby="pinCheck" style="z-index:10000;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please enter your pincode to check availaibility</h4>
      </div>
      <div class="modal-body">
        <input type="text" name="pincode" id="pincode" style="size:100%;" /><br /><br />
        <button id="pincode-button" class="btn btn-sml">Check availability</button>
        <div id="pin-message">
        </div>
      </div>
    </div>
  </div>
</div>
