{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load gross net tax from prices_i18n %}

{% block title %}{% trans "Checkout" context "Checkout page title" %} — {{ block.super }}{% endblock %}

{% block header %}
    <div class="container navbar__login">
      <p>{% trans "Easy and secure!" context "Checkout top message" %}</p>
    </div>
    <header class="checkout__header">
      <div class="container">
        <a href="/">
          <svg data-src="{% static "images/logo.svg" %}" height="38px" width="176px" />
        </a>
        <h1>{% trans "Checkout" context "Checkout title" %}</h1>
      </div>
    </header>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
<div id="content" class="site-content" tabindex="-1" >
  <div class="col-full">
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        <div class="row checkout">
          <div class="col-md-7">
            {% block forms %}{% endblock %}
          </div>
          <div class="col-md-5 good-order-detail">
            {% with total=checkout.get_total %}
              <div class="checkout__review">
                <h3 class="checkout__review__tittle" style="margin-left:-5px;">{% trans "Order review" context "Order review title" %}</h3>
                <hr />
                {% for shipment, shipment_cost, total_with_shipment in checkout.deliveries %}
                  {% for item, item_price_per_item, item_price_total in shipment %}
                    <div class="row" style="margin-left:5px;">
                      <div class="col-8">
                        <p><strong>{{ item.variant.product }}</strong> x {{ item.quantity }}<br />
                          <!-- <span class="checkout__review__variant">{{ item.variant }}</span></p> -->
                      </div>
                      <div class="col-4" style="float:right; margin-left:-35px; margin-top:-45px;">
                        {% net item_price_total %}
                      </div>
                      <!-- <div class="col-4">
                        <p class="float-right">Net Total: </p>
                      </div> -->
                    </div>
                  {% endfor %}
                {% endfor %}
                <!-- <div class="row checkout__review__section">
                  <div class="col-8">
                    <p>{% trans "Shipment" context "Order review section" %}</p>
                  </div>
                  <div class="col-4">
                    <p class="float-right">{% if checkout.shipping_method %}
                      {% net checkout.get_total_shipping %}
                    {% else %}
                      &mdash;
                    {% endif %}</p>
                  </div>
                </div> -->
                <hr />
                <div class="row checkout__review__section">
                  <div class="col-12">
                    <h3>{% trans "Promo code" context "Order review section title" %}</h3>
                    {% include "checkout/snippets/voucher-form.html" with discount=checkout.discount form=voucher_form %}
                  </div>
                </div>
                <div class="row checkout__review__section">
                  <div class="col-8">
                    <h3>Total Billing Amount</h3>
                  </div>
                  <div class="col-4" style="float:right; margin-top:-43px;">
                    <h3>{% gross total html=True %}</h3>
                  </div>
                  <!-- <div class="col-4">
                    <h3 class="float-right">{% gross total html=True %}</h3>
                  </div> -->
                </div>
              </div>
            {% endwith %}
          </div>
      </div>
      </main>
    </div>
  </div>
</div>
{% endblock content %}
