{% extends "checkout/details.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Login" context "Checkout login page title" %} — {{ block.super }}{% endblock %}

{% block content %}
<div id="content" class="site-content" tabindex="-1" >
  <div class="col-full">
    <div class="pizzaro-breadcrumb">
      <nav class="woocommerce-breadcrumb" ><a href="{% url "home" %}">Home</a><span class="delimiter"><i class="po po-arrow-right-slider"></i></span>Login or Register</nav>
    </div>
    <div id="primary" class="content-area">
      <main id="main" class="site-main" >
        <div class="row checkout__login">
          <div class="col-12 col-md-6">
            <div class="checkout__login__continue" style="text-align:center;">
              <h3 style="text-align:center;">{% trans "New customer?" context "Checkout login page title" %}</h3>
              <a href="{% url 'checkout:index' %}" class="btn secondary narrow"><img class="checkout-pirate" src="{% static 'images/newr.png' %}" style="width:400px;" /></a>
            </div>
          </div>
          <div class="col-12 col-md-6 checkout__login__form">
            {% url "checkout:index" as checkout_url %}
            <h3 style="text-align:center;">{% trans "Existing customer? Log in." context "Checkout login form title" %}</h3>
            {% include "account/partials/login_form.html" with REDIRECT_FIELD_VALUE=checkout_url %}
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
{% endblock %}
