{% extends "checkout/details.html" %}
{% load i18n %}
{% load gross from prices_i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block forms %}
<div class="good-form">
    <h3>{% trans "Shipping address" context "Checkout shipping address title" %}</h3>
    {% include "userprofile/snippets/address-short.html" with address=checkout.shipping_address only %}
    <p><a href="{% url 'checkout:shipping-address' %}">{% trans "Select other address" %}</a></p>
    <hr>
    <form method="post" novalidate>
        {% csrf_token %}
        <h2>{% trans "Shipping method" context "Checkout shipping method form title" %}</h2>
        {% bootstrap_form shipping_method_form show_label=False %}
        <p class="text-md-right">
            <button type="submit" class="btn primary">
                {% trans "Continue" context "Checkout shipping method primary action" %}
            </button>
        </p>
    </form>
  </div>
{% endblock %}
