{% extends "checkout/details.html" %}"p"
{% load i18n %}
{% load bootstrap_form from bootstrap3 %}

{% block forms %}
<div class="good-form">
    <form method="post" novalidate class="checkout__shipping">
        {% csrf_token %}
        <h2>{% trans "Shipping address" context "Checkout shipping address title" %}</h2>
        <hr />
        {% if request.user.is_authenticated %}
            {% include "checkout/snippets/addresses-form.html" with addresses_form=user_form addresses=additional_addresses address_form=address_form only %}
        {% else %}
            {% bootstrap_form user_form field_class="custom-email" %}
            {% include "userprofile/snippets/address-form.html" with address_form=address_form only %}
        {% endif %}

        <p class="text-md-right" style="margin-top:25px; margin-left:10px;">
            <button type="submit" class="btn primary" id="submit-button">
                {% trans "Continue" context "Checkout shipping address primary action" %}
            </button>
        </p>
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$("#submit-button").prop("disabled", true);
$("#id_postal_code").on("input", function(e){
  var pincode = $("#id_postal_code").val();
  if (pincode.length == 6){
    $.ajax({
      url: '/mobile/pincheck/',
      type: "POST",
      data: "pincode="+pincode,
      success:function(result){
        if (result=="true"){
          $("#submit-button").prop("disabled", false);
        }
        else{
          alert("We are currently not delivering in this pincode");
          $("#submit-button").prop("disabled", true);
        }
      }
    })
  }
});
</script>
{% endblock scripts %}
