{% load i18n %}
{% load gross from prices_i18n %}
{% load discount_amount_for from prices %}
{% load product_first_image from product_images %}
{% load discount_as_negative from voucher %}
{% load bootstrap_form from bootstrap3 %}

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 good-box">
          <h3>
            {% trans "Shipping address" context "Order details address title" %}
          </h3>
          <address>{% include "userprofile/snippets/address-short.html" with address=order.shipping_address %}</address>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 good-box">
          <h3>
            {% trans "Billing address" context "Order details address title" %}
          </h3>
          <address>{% include "userprofile/snippets/address-short.html" with address=order.billing_address %}</address>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 order-summary-box">
    <div class="row">
      <h2 style="text-align:center;">Your Order Summary for Order #{{order.order_number}}</h2><hr />
      <div class="col-md-6">
        <small>
          {% trans "Product" context "Order details column title" %}
        </small>
      </div>
      <div class="col-md-3 text-right">
        <small>
          {% trans "Quantity" context "Order details column title" %}
        </small>
      </div>
      <div class="col-md-3 text-right">
        <small>
          {% trans "Price" context "Order details column title" %}
        </small>
      </div>
    </div><hr />
    {% for item in order %}
      {% for item_line in item %}
        <div class="row">
          <div class="col-md-6">
            <a href="{{item_line.product.get_absolute_url}}" target="_blank">{{item_line.product}}</a>
          </div>
          <div class="col-md-3 text-right">
            {{item_line.quantity}}
          </div>
          <div class="col-md-3 text-right">
            {% gross item_line.get_total html=True %}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
    <div class="row" style="margin-top:25px;">
      <div class="col-md-12">
        <b>Your Total Bill amount is {% gross order.total html=True %}</b>
      </div>
    </div>
    {% if order.user == user or not order.is_fully_paid %}
        {% if not order.is_fully_paid %}
               {% if waiting_payment %}
                    <h1>
                      {% trans "Payment pending" context "Payment details title" %}
                    </h1>
                    <form method="post" action="{% url 'order:cancel-payment' token=order.token %}" class="checkout-form">
                        {% csrf_token %}
                        <p>{% blocktrans trimmed context "Payment pending text" %}
                            We are currently waiting for an external service to authorize
                            your payment for this order.
                        {% endblocktrans %}</p>
                        <p>{% trans "Current status:" context "Payment status text" %}
                            <br>
                            <span class="label label-default">
                            {{ waiting_payment.get_status_display }}
                            </span>
                        </p>
                        <p>{%  blocktrans trimmed context "Payment pending text" %}
                            Unless you are absolutely sure that the process will not complete
                            (for example you have closed the browser window before paying),
                            you should wait before attempting a new payment.
                            Please be warned that if you try again and the previous
                            transaction succeeds you might end up being charged twice.
                        {% endblocktrans %}</p>
                        {% bootstrap_form waiting_payment_form %}
                        <button type="submit" class="btn danger">
                            {% trans "I understand, allow me to pay again" context "Payment pending action" %}
                        </button>
                    </form>
                {% elif payment_form %}
                <br /><hr />
                    <h3>
                        {% blocktrans trimmed context "Payment details title" %}
                            Pay for order {{order}}
                        {% endblocktrans %}
                    </h3>
                    <form method="post" action="{% url "order:payment" token=order.token %}" class="payment-method-form radio">
                      {% csrf_token %}
                      {{ payment_form }}
                      {% block form_submit %}
                            <button type="submit" class="btn primary">
                                {% trans "Proceed to payment" context "Payment details primary action" %}
                            </button>
                      {% endblock %}
                    </form>
                {% else %}
                    <p>{% trans "You've authorized transaction. Order is in processing" context "Payment details text" %}</p>
                {% endif %}
        {% endif %}
    {% endif %}
    <p><a href="/dashboard/orders/{{order.pk}}/invoice/">Download Invoice for order #{{order.order_number}}</a></p>
  </div>
</div>
