{% extends "base.html" %}

{% load bootstrap_form from bootstrap3 %}
{% load gross from prices_i18n %}
{% load discount_amount_for from prices %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% blocktrans trimmed context "Payment details page title" %}
        Pay for order {{ order }}
    {% endblocktrans %} — {{ block.super }}
{% endblock %}

{% block content %}
<div id="content" class="site-content" tabindex="-1" >
  <div class="col-full">
    <div id="primary" class="content-area">
      <main id="main" class="site-main">
        {% include 'order/_ordered_items_table.html' %}                         
      </main>
    </div>
  </div>
</div>
{% endblock content %}
