{% load bootstrap_field from bootstrap3 %}
<div class="custom-settings">
  <div class="i18n-address">
    {% with address_form_lines=address_form.i18n_fields_order %}
    {% if address_form_lines %}
    {% for line in address_form_lines %}
    <div class="row">
      {% for field in line %}
      <div class="col-4">
        {% bootstrap_field field field_class="custom-input" %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% for field in address_form.hidden_fields %}
    {{ field }}
    {% endfor %}    
    <div style="margin-left:-15px;">
      <label>Phone</label><br />
      <input type="text" name="phone_1" id="phone_1" class="form-control custom-input" />
    </div>
    <input type="hidden" name="country" id="id_country" value="IN" />
    <input type="hidden" name="phone_0" id="phone_0" value="+91" />
    <input type="hidden" class="preview" name="preview">
  </div>
</div>
